.main {
    width: 60%;
    margin: 0 auto;
}

.header {
    margin-top: 10px;
}

.imgPontoTuristico {
    width: 50%;
}

.btnSalvar {
    text-align: right;
}

.btnVoltar {    
    text-decoration: none;
    color: #fff;    
}